body,
html {
  margin: 0;
  padding: 0;
  background: #000;
}
#main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#pointer {
  position: absolute;
  z-index: 99999;
  top: -50px;
  left: -50px;
  border-radius: 100px;
  background: #800080;
  border: 10px solid #fff;
  width: 100px;
  height: 100px;
}
