body, html
  margin: 0
  padding: 0
  background: black

#main
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0

#pointer
  position: absolute
  z-index: 99999
  top: -50px
  left: -50px
  border-radius: 100px
  background: purple
  border: 10px solid white
  width: 100px
  height: 100px
